{% extends "layout.html" %}
{% block title %}
	{{title}}
{% endblock %}
{% block content %}
	<p> {{ products.length }} produits! </p>
    <ul class="col-1-1">
    	{% for product in products %}
    		<li>
    			<p><b>{{ product.name }}</b> pour <i>{{ product.price }}€ </i><p>
    			<table>
    				<tr>
    					<td>
    						<img src="{{ product.imageUrl }}" style="height:120px">
    					</td>
    					<td>

    					</td>
    					<td>
    						<p>{{ product.description }}</p>
    					</td>
    				</tr>
    			</table>
    		</li>
    	{% endfor %}
    </ul>
{% endblock %}